# This is the top-most EditorConfig file
root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation specific for Web & Configuration files
[*.{js,jsx,ts,tsx,css,scss,json,yml}]
indent_size = 2

# Specifics for Markdown (keep trailing whitespace if needed for breaks)
[*.md]
trim_trailing_whitespace = false

# Use tab indentation for Makefiles
[Makefile]
indent_style = tab